elpa/
url/
network-security.data
projectile-bookmarks.eld
projectile.cache
ido.last
bookmarks
backups/
auto-save/
auto-save-list/
ac-comphist.dat
.DS_Store
.emacs.desktop
.mc-lists.el
.org-id-locations
.emacs.desktop.lock
eclipse.jdt.ls/
.lsp-session-v1
.cache
eshell/history
eshell/lastdir
emms/
history
org-gcal/
org-clock-save.el
workspace/
request/
transient/history.el
transient/history.el
/smex-items
/.dap-breakpoints
server/
var/pcache
/image-dired
/tramp
/lsp-cache
org.eclipse.lsp4xml-0.3.0-uber.jar
/transient
var/pcache/
flycheck_config.el
flycheck_init.el
org-journal.cache
recentf
/quelpa
places
/persist
org-roam.db
elpy/
diary
.org-generic-id-locations
elfeed.score
/lisp/config.el
config.html
/eln-cache/
/logview-cache.extmap
/projects
/var/
*.elc
/eww-bookmarks
/amx-items
/custom.el
/early-init.el
/init.el
/emojis/
/.trello/
/nov-places
/magithub
/lisp/simple.el
/lisp/minimal.el
/elisp-autofmt-cache/
/forge-database.sqlite
/org-persist/
/tree-sitter/
.aider*
